ESBackupAndReplication/Connected Services/ESBackupServerService/ESBackupServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ESBackupServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESBackupServer.App.Objects.Registration" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ESBackupServer.Database.Objects" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ESBackupServer.App.Objects.Authentication" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ESBackupServer.App.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IESBackupServerService_RequestRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestRegistration" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_RequestRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_GetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_GetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_CreateBackup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBackup" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_CreateBackup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBackupResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_HasConfigUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:HasConfigUpdate" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_HasConfigUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasConfigUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_ClientReportUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientReportUpdated" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_ClientReportUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientReportUpdatedResponse" />
  </wsdl:message>
  <wsdl:portType name="IESBackupServerService">
    <wsdl:operation name="RequestRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/RequestRegistration" message="tns:IESBackupServerService_RequestRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/RequestRegistrationResponse" message="tns:IESBackupServerService_RequestRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/Login" message="tns:IESBackupServerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/LoginResponse" message="tns:IESBackupServerService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/Logout" message="tns:IESBackupServerService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/LogoutResponse" message="tns:IESBackupServerService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/GetConfiguration" message="tns:IESBackupServerService_GetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/GetConfigurationResponse" message="tns:IESBackupServerService_GetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateBackup">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/CreateBackup" message="tns:IESBackupServerService_CreateBackup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/CreateBackupResponse" message="tns:IESBackupServerService_CreateBackup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasConfigUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/HasConfigUpdate" message="tns:IESBackupServerService_HasConfigUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/HasConfigUpdateResponse" message="tns:IESBackupServerService_HasConfigUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientReportUpdated">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/ClientReportUpdated" message="tns:IESBackupServerService_ClientReportUpdated_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/ClientReportUpdatedResponse" message="tns:IESBackupServerService_ClientReportUpdated_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IESBackupServerService" type="tns:IESBackupServerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestRegistration">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/RequestRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfiguration">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/GetConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBackup">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/CreateBackup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasConfigUpdate">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/HasConfigUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientReportUpdated">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/ClientReportUpdated" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESBackupServerService">
    <wsdl:port name="BasicHttpBinding_IESBackupServerService" binding="tns:BasicHttpBinding_IESBackupServerService">
      <soap:address location="http://localhost:53095/ESBackupServerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>